
*.xcuserstate

CARExtractor/CARExtractor.xcodeproj/xcuserdata/nzhuk.xcuserdatad/xcschemes/CARExtractor.xcscheme

CARExtractor/CARExtractor.xcodeproj/xcuserdata/nzhuk.xcuserdatad/xcschemes/xcschememanagement.plist

CARExtractor/CARExtractor.xcodeproj/project.xcworkspace/xcuserdata/nzhuk.xcuserdatad/WorkspaceSettings.xcsettings

Products/CARExtractor
